@import './assets/styles/common';

.container {
  @include dflex(column, flex-start, stretch);
  min-height: 100vh;
}

/* ------ Header - Start ------ */
.header {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(41, 52, 65);
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gaLogo {
  @include heightScale(20px);
}

.reactLogo {
  @include heightScale(28px);
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: react-logo-animation-spin infinite 20s linear;
  }
}

@keyframes react-logo-animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vs {
  color: white;
  font-size: calc(12px + 1vmin);
  font-weight: 300;
  margin: 0 12px;
}
/* ------ Header - End ------ */

.body {
  padding: 1rem;
  flex-grow: 1;
}

.alert {
  width: 100vw;
  flex-grow: 1;
  @include dflex(column, center, center);

  &Message {
    @include fontSizeScale(14px);
    color: rgba(255, 255, 255, 0.548);
    margin-bottom: 6px;
    font-weight: 500;
  }

  &SubMessage {
    @include fontSizeScale(8px);
    color: rgb(189, 51, 51);
    font-weight: 300;
  }
}
